@import "modules/variables";
@import "modules/mixins";
@import "modules/normalize";
@import "modules/header";
@import "modules/nav";
@import "modules/portfolio";
@import "modules/about";
@import "modules/elsewhere";

body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	box-sizing: border-box;
	}

section {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: $highlight-colour;
	text-decoration: none;
	transition: color 300ms ease-in;
	&:hover {
		color: darken($highlight-colour, 20%);
	}
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

//########## SURGICAL 
.cyan {
	color: $highlight-colour;
}

.white {
	background-color: #fff;
}

.black {
	background-color: #000;
}

.blue {
	background-color: #196684;
}

.line-break {
	display: block;
	@include minWidth($midi-width) {
		display: none;
	}	
}