@import "modules/mixins";
@import "modules/normalize";

$midi-width: 581px;
$maxi-width: 781px;

$dark-grey: #3A3A3C;
$light-grey: #6D6E71;
$bright-blue: #25AAE1;

$primary-colour: $dark-grey; 
$secondary-colour: $light-grey; 
$highlight-colour: $bright-blue;

body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	box-sizing: border-box;
	}

section {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: $highlight-colour;
	text-decoration: none;
	transition: color 300ms ease-in;
	&:hover {
		color: darken($highlight-colour, 20%);
	}
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

//############ HEADER ##############
.nav-wrapper {
	background-color: $primary-colour;
	z-index: 1;
	header {
		padding: 1em;
		@include minWidth($midi-width) {
	    display: inline-block;
	    width: 10%;
	  }
	}
}

.logo {
	float: left;
	width: 10%;
	color: #fff;
	h1 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 2.5em;
		transition: all 300ms ease-in;
	}
}

.hamburger {
	float: right;
	width: 8%;
	padding: 1em 0 0.5em 0;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 300ms ease-in;
	img {
		max-width: 100%;
	}
	@include minWidth($midi-width) {
    display: none;
  }
}

//########### STICKY NAV #############
.nav-wrapper.sticky {
  position: fixed;
  left: 0;
  right: 0;
  header {
  	padding: 0.5em 1em;
  }
  .logo {
  	h1 {
  		font-size: 2em;
  	}
  }
  .hamburger {
    width: 6%;
    padding: 0.8em 0 0.5em 0;
    @include minWidth($midi-width) {
    	display: none;
    }
  }
  .main-nav {
  	@include minWidth($midi-width) {
  		margin-top: 0.2em;
		}
  }
}

//############# NAV ################
.main-nav {
	display: none;
	@include minWidth($midi-width) {
		float: right;
		display: block;	
		width: 45%;
		margin-top: 1.1em;
		transition: margin-top 300ms ease-in;
	}
	@include minWidth($maxi-width) {
		width: 34%;
	}
	ul {
		li {
			display: block;
			border-top: #fff 1px solid;
			background-color: $secondary-colour;
			transition: background-color 200ms ease-in-out;
			&:hover {
				background-color: lighten($secondary-colour, 10%);
				@include minWidth($midi-width) {
					border-bottom: 2px #fff solid;
					background-color: transparent;
				}
			}
			@include minWidth($midi-width) {
				display: inline-block;
				width: auto;
				border-top: none;
				padding: 0 0.5em;
				background-color: transparent;
		  }
			a {
				display: inline-block;
				width: 100%;
				padding: 1em 0;
				color: #fff;
				font-weight: lighter;
				text-decoration: none;
				text-align: center;
			}
		}
	}
}

//########## PORTFOLIO #############
.portfolio-wrapper {
	background-color:  #bfbfbf; 
	@include minWidth($midi-width) {
  }
}

.featured-work {
	overflow: hidden;
	position: relative;
	display: block;
	box-sizing: border-box;
	border-spacing: 0;
	@include minWidth($midi-width) {
		float: left;
		width: 50%;
  }
  @include minWidth($maxi-width) {
  	width: 33.33333%;
  }
	a {
		position: relative;
		display: block;
		cursor: pointer;
		transform: translateZ(0);
		&::before {
			display: block;
	    content: "";
	    width: 100%;
	    padding-top: 62.5%;
		}
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 90%;
		transform: translateX(-50%) translateY(-50%) translateZ(0);
		transition: transform 300ms ease-in;
	}	
	h3 {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 1em;
		color: #fff;
		background-color: $primary-colour;
		font-size: 0.9em;
		font-weight: normal;
		transform: translateY(134%) translateZ(0);
		transition: transform 300ms ease-in;
		@include minWidth($midi-width) {
			
	  }
	}
	&:hover h3 {
		transform: translateY(34%) translateZ(0);
	}
	&:hover a img {
		transform: scale(0.9, 0.9) translateX(-50%) translateY(-70%) translateZ(0);
	}
}

//########## ABOUT #############
.about-wrapper {
	padding-top: 3em;
	background-color: $primary-colour;
	h1, h4 {
		padding: 0 1em;
		text-align: center;
		color: #fff;
	}
	h4 {
		margin-bottom: 3.5em;
	}
}

.profile-article {
	padding: 1em;
	background-color: #fff;
	color: $primary-colour;
}

.profile-img {
	text-align: center;
	margin-bottom: 0.5em;
	@include minWidth($midi-width) {
		float: left;
		display: inline-block;
		width: 25%;	
		margin: 2em 1em 1em 1em;
	}
	img {
		max-width: 100%;
	}
	figcaption {
		font-size: 0.9em;
	}
}

.profile-content {
	p {
		line-height: 1.5;
	}
	@include minWidth($midi-width) {
		display: block;
	}
}

//########## SURGICAL 
.cyan {
	color: $highlight-colour;
}

.white {
	background-color: #fff;
}

.black {
	background-color: #000;
}

.blue {
	background-color: #196684;
}

.line-break {
	display: block;
	@include minWidth($midi-width) {
		display: none;
	}	
}
