.about-wrapper {
	padding-top: 3em;
	h1 {
		padding: 0 1em;
		text-align: center;
		color: $primary-highlight;
	}
}

.profile-article {
	padding: 1em;
	background-color: #fff;
	color: $primary-colour;
}

.profile-img {
	text-align: center;
	margin-bottom: 0.5em;
	@include minWidth($midi-width) {
		float: left;
		display: inline-block;
		width: 25%;	
		margin: 2em 1em 1em 1em;
	}
	img {
		max-width: 100%;
	}
	figcaption {
		font-size: 0.9em;
	}
}

.profile-content {
	h3 {
		text-align: center;
		@include minWidth($midi-width) {
			text-align: left;
		}
	}
	p {
		line-height: 1.5;
	}
	@include minWidth($midi-width) {
		display: block;
	}
}