.elsewhere-wrapper {
	padding: 2em 1em 2em 1em;
	background-color: lighten($light-grey, 20%);
	h1 {
		margin: 0 0 1em 0;
		color: #fff;
		text-align: center;
	}
	ul {
		display: inline-block;
		width: 58%;
		@include minWidth($midi-width) {
			width: 65%;
		}
	}
}

.link-section {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	@include minWidth($midi-width) {
		display: inline-block;
		width: 49%;
		border-right: 1px #fff solid;
	}
	li a {
		display: inline-block;
		padding: 0.2em 0;
		color: #fff;
		transition: color 200ms ease-in;
		&:hover {
			color: $primary-highlight;
		}
	}
}

.elsewhere-img {
	display: inline-block;
	width: 39%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	@include minWidth($midi-width) {
		display: inline-block;
		width: 33.33%;
		text-align: center;
	}
	img {
		max-height: 114px;
		@include minWidth($midi-width) {
			max-height: 70px;
		}
	}
}
