$midi-width: 581px;
$maxi-width: 781px;

$dark-grey: #3A3A3C;
$light-grey: #6D6E71;
$bright-blue: #25AAE1;

$primary-colour: $dark-grey; 
$secondary-colour: $light-grey; 
$highlight-colour: $bright-blue;